.align-baseline
{
    text-decoration: none;
    color: white;
}

.align-baseline:hover
{
    text-decoration: none;
    color: white;
}

.btn-outline-warning:hover
{
    background-color:orange;
    color: white;
}

.btn-block
{
    background-color: orange;
    border: none;
}

.btn-block:hover
{
    background-color: orange;
}

.bg-warning
{
    background-color: orange !important;
    color: white !important;
}

.text_header
{
    text-decoration: none !important;
    color: black !important;
}

.text_header:hover
{
    color: red !important;
}

.password
{
    text-decoration: none !important;
    color: #381B8A !important;
}

.footer_list
{
    text-decoration: none !important;
    color: black !important;
    list-style: none !important;
    font-weight: lighter !important;
}

.fa-facebook-square, .fa-linkedin-square
{
    font-size: 25px !important;
    color: black !important;
}

.mail
{
    font-size: 14px !important;
}