.align-baseline
{
    text-decoration: none;
    color: white;
}

.align-baseline:hover
{
    text-decoration: none;
    color: white;
}

.btn-outline-warning:hover
{
    background-color:orange;
    color: white;
}

.btn-block
{
    background-color: orange;
    border: none;
}

.btn-block:hover
{
    background-color: orange;
}

.bg-warning
{
    background-color: orange !important;
    color: white !important;
}

.header_img
{
    background-image: url("/assets/Images/BG.png");
}

.text_header
{
    text-decoration: none !important;
    color: rgb(0, 0, 0) !important;
}

.text_header:hover
{
    color: red !important;
}

.bg-fil
{
    background-color: #E5E4E2 !important;
}

.pagination > li > a
{
    background-color: white;
    color: black !important;
}

.pagination > .active > a
{
    color: white !important;
    background-color: red !important;
    border: solid 1px red !important;
}

.pagination > .active > a:hover
{
    background-color: red !important;
    border: solid 1px red !important;
}

.footer_list
{
    text-decoration: none !important;
    color: black !important;
    list-style: none !important;
    font-weight: lighter !important;
}

.fa-facebook-square, .fa-linkedin-square
{
    font-size: 25px !important;
    color: black !important;
}

.mail
{
    font-size: 14px !important;
}